name: media-server

services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: bridge
    ports:
      - ${PLEX_WEBUI_PORT}:${PLEX_WEBUI_PORT}
      - ${PLEX_DLNA_PORT}:${PLEX_DLNA_PORT}
      - ${PLEX_DLNA_DISC_PORT}:${PLEX_DLNA_DISC_PORT}
      - ${PLEX_COMPANION_PORT}:${PLEX_COMPANION_PORT}
      - ${PLEX_ROKU_PORT}:${PLEX_ROKU_PORT}
      - ${PLEX_GDM1_PORT}:${PLEX_GDM1_PORT}
      - ${PLEX_GDM2_PORT}:${PLEX_GDM2_PORT}
      - ${PLEX_GDM3_PORT}:${PLEX_GDM3_PORT}
      - ${PLEX_GDM4_PORT}:${PLEX_GDM4_PORT}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VERSION=docker
      - ADVERTISE_IP=${MY_IPV4}:${PLEX_WEBUI_PORT},${PLEX_DIRECT_CONNECT}

    volumes:
      - "./plex/config:/config"
      - "./plex/transcode:/transcode"
      - "M:/media:/media"
      
    # Request GPUs (Compose will pass this through on Docker Desktop)
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    restart: unless-stopped
  
  kometa:
    image: kometateam/kometa:latest
    container_name: kometa
    volumes:
      - "./kometa/config:/config"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - KOMETA_RUN=True
      - KOMETA_LOG_LEVEL=DEBUG
      - KOMETA_TIME=02:00,14:00 # sample schedule, change as needed
    command: ["--run"]
    restart: "unless-stopped"
