name: utilities-stack

networks:
  proxy:
    external: true

services:
  # -- PROXY MANAGER --
  npm:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: unless-stopped
    networks: [proxy]
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    ports:
      - "${EXTERNAL_WEB_PORT}:${EXTERNAL_WEB_PORT}"
      - "${EXTERNAL_SECURE_PORT}:${EXTERNAL_SECURE_PORT}"
      - "${NPM_ADMIN_PORT}:${NPM_ADMIN_PORT}"
    volumes:
      - "./npm/data:/data"
      - "./npm/letsencrypt:/etc/letsencrypt"
    
  # -- APP DASHBOARD --
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    networks: [proxy]
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=gethomepage.dev,localhost
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    ports:
      - ${HOMEPAGE_PORT}:${HOMEPAGE_PORT}
    volumes:
      - "./homepage/config:/app/config" # Make sure your local config directory exists
      - "./homepage/var/run/docker.sock:/var/run/docker.sock"
  
  # -- VIDEO FILE MULTIPLEXER --
  mkvtoolnix:
    image: jlesage/mkvtoolnix
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    ports:
      - "${MKV_PORT}:${MKV_PORT}"
    volumes:
      - "./mkvtoolnix:/config:rw"
      - "/home/user:/storage:rw"
      - "M:/media:/media:rw"