name: lab-utilities

services:
  # KOMETA: Metadata Automation for Plex
  kometa:
    image: kometateam/kometa
    container_name: kometa
    volumes:
      - ${PATH_CONFIG}/kometa:/config
    restart: unless-stopped

  # ACTUAL: Self-hosted Budgeting
  actual-budget:
    image: actualbudget/actual-server:latest
    container_name: actual-budget
    ports:
      - 5006:5006
    environment:
      - TZ=${TZ}
    volumes:
      - ${PATH_CONFIG}/actual:/data
    restart: unless-stopped

  # TAUTULLI: Plex Monitoring
  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${PATH_CONFIG}/tautulli:/config
    ports:
      - 8181:8181
    restart: unless-stopped